.ArticleDetailsPage {
    min-height: 100%;
}

.commentsTitle {
    margin-top: 25px;
}

.recommendations {
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
